@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-offwhite text-slate-800 font-sans antialiased selection:bg-hcblue-800 selection:text-white;
    }
}